# GitLab Configuration
GITLAB_HOST=https://gitlab.sonod.tech
GITLAB_TOKEN=
GITLAB_GROUP_ID=63

# Database
DATABASE_URL="postgresql://sonod:sonod123@localhost:5432/sonod_projects_manager"

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=K8uoqZf2hNwT54rDEi5KI94wBCkfhKz3ctb0i3OISMg=

# GitLab OAuth (if using OAuth instead of token)
GITLAB_CLIENT_ID=your_oauth_app_client_id
GITLAB_CLIENT_SECRET=your_oauth_app_client_secret
GITLAB_WEBHOOK_TOKEN=your_webhook_token_here

# Pipeline Configuration
PIPELINE_PROJECT_ID=228
PIPELINE_TRIGGER_TOKEN=glptt-13b28e91a73d8537773368a12b4f0f18915943ea

# Server Configuration
HOST_TEST_ADDRESS=
HOST_TEST_USER=root
BASE_PATH=/opt/nextjs
TEMPLATE_PATH=/opt/nextjs/templates
